# Ignore virtual environment
.venv/

# Ignore assignment description files
enunciado.pdf
tarea2.png

# Ignore Python cache files
**/__pycache__/

# Ignore upload files except for cat_* files used for testing
src/static/uploads
!src/static/uploads/cat_*