.floating-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.error {
    border: 2px solid red;
    color: red;
}

.image-gallery img {
    width: 320px;
    height: 400px;
    cursor: pointer;
}
.floating-image {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.floating-image img {
    width: 100%;
    height: 100%;
}
.floating-image button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.btn-row {
    display: table-row;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.full-width-table {
    width: 100%; /* Make the table occupy the full width of the viewport */
    border-collapse: collapse; /* Remove gaps between table borders */
    margin: 20px 0;
}

.full-width-table th, .full-width-table td {
    padding: 10px;
}

.full-width-table th {
    background-color: lightgray;
    font-weight: bold;
}

.full-width-table tr {
    background-color: #f9f9f9;
}

.full-width-table tr:hover {
    background-color: lightblue;
}