{% extends "layout.html" %}

{% block title %} / Informar Actividad{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        // Render template constants.
        const apiURL = "{{ url_for('get_regiones') }}";
        const inputId = {
            "region": "{{ form.region.id }}",
            "comuna": "{{ form.comuna.id }}",
            "nombre": "{{ form.nombre.id }}",
            "email": "{{ form.email.id }}",
            "tel": "{{ form.telefono.id }}",
            "rrss": [
                {
                    "checkboxId": "{{ form.rrss_0_check.id }}",
                    "textId": "{{ form.rrss_0_user.id }}",
                },
                {
                    "checkboxId": "{{ form.rrss_1_check.id }}",
                    "textId": "{{ form.rrss_1_user.id }}",
                },
                {
                    "checkboxId": "{{ form.rrss_2_check.id }}",
                    "textId": "{{ form.rrss_2_user.id }}",
                },
                {
                    "checkboxId": "{{ form.rrss_3_check.id }}",
                    "textId": "{{ form.rrss_3_user.id }}",
                },
                {
                    "checkboxId": "{{ form.rrss_4_check.id }}",
                    "textId": "{{ form.rrss_4_user.id }}",
                },
                {
                    "checkboxId": "{{ form.rrss_5_check.id }}",
                    "textId": "{{ form.rrss_5_user.id }}",
                },
            ],
            "dateStart": "{{ form.date_start.id }}",
            "dateEnd": "{{ form.date_end.id }}",
            "description": "{{ form.descripcion.id }}",
            "temas": [
                "{{ form.theme_0.id }}",
                "{{ form.theme_1.id }}",
                "{{ form.theme_2.id }}",
                "{{ form.theme_3.id }}",
                "{{ form.theme_4.id }}",
                "{{ form.theme_5.id }}",
                "{{ form.theme_6.id }}",
                "{{ form.theme_7.id }}",
                "{{ form.theme_8.id }}",
            ],
            "temaOtro": {
                "checkbox": "{{ form.theme_9.id }}",
                "text": "{{ form.theme_9_text.id }}",
            },
            "photos": [
                "{{ form.photo_0.id }}",
                "{{ form.photo_1.id }}",
                "{{ form.photo_2.id }}",
                "{{ form.photo_3.id }}",
                "{{ form.photo_4.id }}",
            ],
        };
    </script>
    <script src="{{ url_for('static', filename='js/activities/upload_form.js') }}"></script>
{% endblock %}


{% block content %}

    <div>
        <h1>Informar una nueva actividad</h1>
    </div>
    <div>
        <form id="actividad-form" onsubmit="return false;" method="POST" enctype="multipart/form-data">
            <div>
                <h3>¿Dónde?</h3>
                <div>
                    {{ form.region.label }} {{ form.region() }}
                </div>
                <br>
                <div>
                    {{ form.comuna.label }} {{ form.comuna() }}
                </div>
                <br>
                <div>
                    {{ form.sector.label }} {{ form.sector() }}
                </div>
            </div>
            <br>
            <div>
                <h3>¿Quién organiza?</h3>
                <div>
                    {{ form.nombre.label }} {{ form.nombre() }}
                </div>
                <br>
                <div>
                    {{ form.email.label }} {{ form.email() }}
                </div>
                <br>
                <div>
                    {{ form.telefono.label }} {{ form.telefono() }}
                </div>
                <br>
                <div>
                    <h4>Métodos de Contacto:</h4>
                    <div id="rrss">
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_0_check(onclick="handleContactSelection(this)") }}
                            </div>
                            <label for="{{ form.rrss_0_check.id }}">{{ form.rrss_0_check.label.text }}</label>
                            {{ form.rrss_0_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_1_check(onclick="handleContactSelection(this)") }}
                            </div>
                            <label for="{{ form.rrss_1_check.id }}">{{ form.rrss_1_check.label.text }}</label>
                            {{ form.rrss_1_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_2_check(onclick="handleContactSelection(this)") }}
                            </div>
                            <label for="{{ form.rrss_2_check.id }}">{{ form.rrss_2_check.label.text }}</label>
                            {{ form.rrss_2_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_3_check(onclick="handleContactSelection(this)") }}
                            </div>
                            <label for="{{ form.rrss_3_check.id }}">{{ form.rrss_3_check.label.text }}</label>
                            {{ form.rrss_3_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_4_check(onclick="handleContactSelection(this)") }}
                            </div>
                            <label for="{{ form.rrss_4_check.id }}">{{ form.rrss_4_check.label.text }}</label>
                            {{ form.rrss_4_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.rrss_5_check(onclick="handleContactSelection(this)") }}
                            </div>
                            {{ form.rrss_5_user(class="form-control", onchange="validateContactText(this)") }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3>¿Cuándo y de qué trata?</h3>
                <div>
                    {{ form.date_start.label }} {{ form.date_start(onchange="handleEndDateTimeInput(this)") }}
                </div>
                <br>
                <div>
                    {{ form.date_end.label }} {{ form.date_end() }}
                </div>
                <br>
                <div>
                    {{ form.descripcion.label }} {{ form.descripcion() }}
                </div>
                <br>
                <div>
                    <label>Tema: </label>
                    <div id="themes" class="checkbox-group checkbox-group-with-input">
                        <div class="checkbox-item">
                            {{ form.theme_0(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_0.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_1(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_1.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_2(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_2.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_3(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_3.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_4(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_4.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_5(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_5.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_6(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_6.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_7(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_7.label }}
                        </div>
                        <div class="checkbox-item">
                            {{ form.theme_8(onclick="handleThemeSelection(this)") }}
                            {{ form.theme_8.label }} 
                        </div>
                        <div class="input-group">
                            <div class="input-group-checkbox">
                                {{ form.theme_9(onclick="handleThemeSelection(this)") }}
                            </div>
                            {{ form.theme_9_text(class="form-control") }}
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <h3>Fotos:</h3>
                    <div id="photo-inputs">
                        <div>
                            {{ form.photo_0.label }}
                            {{ form.photo_0() }}
                        </div>
                        <div>
                            {{ form.photo_1.label }}
                            {{ form.photo_1() }}
                        </div>
                        <div>
                            {{ form.photo_2.label }}
                            {{ form.photo_2() }}
                        </div>
                        <div>
                            {{ form.photo_3.label }}
                            {{ form.photo_3() }}
                        </div>
                        <div>
                            {{ form.photo_4.label }}
                            {{ form.photo_4() }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div>
        <button type="button" onclick="window.location.href='{{ url_for('index') }}'">Volver a Inicio</button>
        <button type="button" id="verify-btn">Subir Actividad</button>
    </div>
    <div id="window-confirmation" class="floating-window">
        <h3>Confirmar Actividad</h3>
        <p>¿Está seguro de que desea enviar esta actividad?</p>
        <button id="submit-btn" type="button">Enviar</button>
        <button id="close-btn" type="button">Cerrar</button>
    </div>
    <div id="overlay" class="overlay"></div>
{% endblock %}
